.hero-banner{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    background:url("/Food-Subscription/assets/images/pizza-min.webp") no-repeat;
    background-size: cover;
    /* border: 1px solid green; */
}

.hb-layer{
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hb-head{
    /* position: relative; */
    position: absolute;
    left: 14%;
    top: 25%;
    text-align:left;
    font-size: 9.0rem;
    display: flex;
    flex-flow: column wrap;
    /* flex-wrap: wrap; */
    /* border: 1px solid green; */

}


#hb-btn-book{
    color: #ffffff;
    background-color: #ff4161;
    height: 7rem;
    width: 18rem;
    border: 0;
    justify-content: center;
    border-radius: 5rem;
    font-size: 2.5rem;
}

#hb-btn-info{
    /* border: 1px solid green; */

    background-color: transparent;
    color: #ff4161;
    height: 7rem;
    width: 25rem;
    justify-content: center;
    border: 1px solid #ff4161;
    border-radius: 5rem;
    font-size: 2.5rem;
    /* margin-left: 20rem; */
}

.underline{
    padding-top: 1.0rem;
    border-bottom: 2px solid red;
    height: 0;
    width: 8%;
    margin: auto;
    /* padding-bottom: 2rem; */
}

.awesome-feature{
    /* border: 1px solid green; */

    margin: 4rem 0 7rem 0;
    background-color: #ffffff;
    overflow: visible;
}

.af-container{
    display: flex;
    margin: 2.5rem;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
}

.af-item{
    flex-basis: 30%;
    justify-content: center;
    padding: 2.0rem;
    padding-bottom: 4rem;
    background-color: #ffffff;
    color: #9b9b9e;
    box-shadow: 0 10px 30px 0 rgba(100, 100, 111, 0.2);
}

.af__heading{
    padding: 1rem;
    text-align: center;
    /* border: 1px solid green; */

}

.af-item__headingwrapper{
    text-align: center;
    font-size: 5.0rem;
}


/* Navigation Bar */
.navbar-content{
    margin: 0;
    padding: 0;
    display: flex;
    background-color: transparent;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    text-transform: uppercase;
    justify-content: flex-end;
    align-items: flex-end;
}

a:link, a:visited{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
    cursor: pointer;
    color: #ff4161;
}

i{
    padding: 1rem;
}

ul{
    list-style: none;
}


/* STEPS TO FOLLOW SECTION */
.steps-to-follow{
    /* border: 1px solid green; */

    margin-top: 10rem;
}

.stf-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    /* border: 1px solid green; */

} 

.stf-img-container img{
    height: 30%;
    width: 80%;
    margin: 10%;
}

.stf-img-container{
    margin: 4rem;
}

.stf-heading{
    text-align: center;
    padding: 1rem;
}

.stf-li-container{
    margin-left: 20%;
}

.stf-li-container ol{
    color: #9b9b9e;
    counter-reset: item;
    list-style-type: none;
    line-height: 2.2;
    margin-left: -40px;
}

.stf-li-container ol li{
    display: block;
    position: relative;
    padding: 4rem;
}

.stf-li-container ol li:before{
    content: counter(item) " ";
    counter-increment: item;
    color: #ff4161;
    position: absolute;
    top: 50%;
    margin-top: -5rem;
    margin-left: -3em;
    background: #ffffff;
    height: 8rem;
    width: 8rem;
    line-height: 8rem;
    text-align: center;
    border: 3px solid #ff4161;
    border-radius: 8rem;
    font-weight: auto;
    font-size: 4rem;
}



/* Reviews */

.reviews{
    margin-top: 2rem;
    background:url("/Food-Subscription/assets/images/pizza-min.webp") no-repeat;
    background-size: cover;
    width: 100%;
    height: 70vh;
    text-align: center;
    overflow:scroll;
    box-sizing: border-box;
}

.reviews::-webkit-scrollbar{
    display: none;
}

.rev-heading{
    padding-top: 4rem;
    position: sticky;
    top: 0;
    z-index: 999;
    /* box-sizing:border-box; */
    align-self: center;
    background-color: rgba(0, 0, 0, 0.7);

}

.rev-mask{
    /* box-sizing: content-box; */
    background-color: rgba(0, 0, 0, 0.7);
    /* height: 100%; */
}

.rev-container{
    position: relative;
    padding-top: 6rem;
    margin: 0 2rem 2rem 2rem;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.rev-item{
    display: flex;
    gap: 1rem;
    padding: 3rem;
    flex-basis: 30%;
    flex-flow: column wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 #9b9b9e;
}

#rev-img{
    padding: 2rem;
    width: 14rem;
    height: 14rem;
    border-radius: 100%;
}

#customer-name{
    color: #010101;
    font-weight: 500;
    text-align: center;
}

#customer-review{
    color: #9b9b9e;

}
.rev-star i{
    font-size: 2rem;
    color: #ff4161;
    /* text-align: center; */
}

/* Prrice section */
.price{
    /* margin: 2rem; */
    margin-top: 2rem;
    text-align: center;
    width: 100%;
    height: 80vh;
    overflow: scroll;

}

.price::-webkit-scrollbar{
    display: none;
}


.price-container{
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.price-item{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    color: #9b9b9e;
    margin: 3rem;
    padding-left: 4rem;
    padding-right:4rem;
    border: 1px solid #9b9b9e;
    border-radius: 5%;
    flex-wrap: nowrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: 0 10px 30px 0 rgba(100, 100, 111, 0.4);

}

.price-item h3{
    font-size: 3rem;
    padding-bottom: 2rem;
}

.price-item h4{
    color: #9b9b9e;
}


.price-item h4 span{
    text-align: left;
    padding: 1rem;
    font-size: 3rem;
    color: #ff4161;
}

.underline-2{
    padding-top: 1.0rem;
    border-bottom: 2px solid #9b9b9e;
    height: 0;
    width: 100%;
    margin: auto;
}

.underline-2-2{
    padding-top: 1.0rem;
    border-bottom: 2px solid #9b9b9e;
    height: 0;
    width: 100%;
    margin: auto;
    margin-bottom: 4rem;
}

.price-btn{
    margin: -4rem;
    color: white;
    background-color: #ff4161;
    border: 0px;
    font-size: 2rem;
    padding: 1.5rem;
    border-radius: 8rem;
}


/* CONTACT US */
.contact-us{
    padding-top: 2rem;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: #272b30;
    overflow: scroll;
}

.contact-us::-webkit-scrollbar{
    display: none;
}

.cu-container{
    margin: 0;
    padding-top: 4rem;
    display: flex;
    flex-flow: row wrap;
    align-items:center;
    align-content: center;
    justify-content:space-around;
}

.cu-item{
    color: #9b9b9e;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;

}

#cu-img{
    /* box-sizing: border-box; */
    width: 350px;
    height: 450px;
    /* margin: 4rem; */
    /* padding: 2rem; */
}

.cu-form-item{
    text-align: left;
}

.cu-form-item{
    padding: 0.5rem;
}

.cu-form-item label{
    font-size: 2.5rem;
}

.cu-form-item input, select{
    width: 100%;
    height: 4rem;
    padding: 2rem;
}

.cu-form-item select{
    color: #9b9b9e;
}

.tnc-container{
    display: flex;
    flex-flow: row wrap;
}

#tnc{
    margin-top: 1rem;
    padding: 0;
}

#tnc-label{
    font-size: 2rem;
    color: #9b9b9e;
}

#comment{
    /* height: 10rem; */
    width: 100%;
    padding: 2rem;
}

#cu-btn-submit{
    margin-top: 5rem;
    font-size: 2.5rem;
    padding: 1rem;
    color: #ffffff;
    background-color: #ff4161;
    border: 0;
    border-radius: 8rem;
    align-self: center;
}



/* FOOTER */
.footer{
    padding: 2rem;
    /* border: 1px solid green; */
    height: 15vh;
    width: 100%;
    background-color: #434141;
    background-size: cover;
}

.ftr-container{
    padding-top: 1rem;
    /* border: 1px solid green; */

    display: flex;
    /* font-size: 2rem; */
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

}

.ftr-item i{
    color: #272b30;
    background-color: #9b9b9e;
    font-size: 3rem;
    /* padding: 1rem; */
    /* border-radius: 1%; */
    /* border: 0px solid #ff4161; */
}

.ftr-item{
    width: 100%;
    /* border: 1px solid green; */
    text-align: center;
}

.ftr-item-container{
    /* align-items: flex-start; */
    display: flex;
    width: 100%;
    /* flex-wrap: wrap; */
    flex-direction: row;
    /* align-items: flex-start; */
    align-content: center;
    /* justify-content: flex-start; */
}

#ftr-item-text{
    /* text-align: left; */
    width: 50%;
    align-items: flex-start;
    /* align-content: center; */
    justify-content: space-evenly;
}

#ftr-item-social{
    /* text-align: right; */
    align-items: flex-end;
    /* align-content: center; */
    width: 50%;
    justify-content: space-evenly;
}


.ftr-item li{
    list-style: none;
    display: inline-block;
}

.ftr-item p{
    color: #9b9b9e;
}

@media only screen and (min-width:200px) and (max-width:480px){
    
    *{
        align-items: center;
        /* align-content: center; */
        /* box-sizing: content-box; */
    }

    /* main::-webkit-scrollbar{
        display: none;
    } */

    .header{
        position: relative;
        height: fit-content;
        width: 100%;
    }

    .navbar-container{
        position: absolute;
        align-items: center;
        justify-items: center;
    }

    .af-container{
        margin: 2.0rem;
        width: 100%;
        flex-direction: column;
    }

    .af-item{
        flex: 0 10% 100%;
        margin-top: 1.0rem;
    }
}